body {
  height: 95vh;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
  padding: 10px;
}

.main-content{
  overflow-x: hidden;
  /* center main content */
  /*margin: 0 auto;
  width: 93%;*/
}

.container{
 /* center vertically and horizontally */
  #display: flex;
  align-items: center;

  border: 3px solid black;
  padding: 20px;
  #height: 80vh;

}

#screenFiller {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.wrapper{
  border: 1px solid green;
  display: inline-block;
}

.strapline{
  top:0; left:0;
}

.row{
}

.bar{
  width: 100%;
  padding: 8px;
}

.column{
  float: left;
  width: 50%;
  padding: 8px;
  /*padding: 10px;
  height: 300px;*/
}


.links{
}

table{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-collapse: collapse;
}

table td {
  border: 1px double black;
  border-radius: 10px;
  width: 30px;
  overflow: hidden;
  white-space: nowrap;
}

table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}

a {
  text-align: center;
  text-decoration: none;
  color: #001427;
  background-color: white; /* Rich Black FOGRA 29*/
  border-radius: 55px 55px 55px 55px;
  border: 3px solid #001427;
  margin: 7px;
  padding: 7px;
  font-size: 1.5vw;
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: none;
  color: #001427;
  background-color: white;
  border: 4px double #001427;
}

/* css for guestbook page */
.list-group {
  text-align: left;
}

.align-left {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.smol-left {
  width: 20%;
}

.name {
  font-size: 28px;
  font-weight: bold;
  color: plum;
}

.date {
  font-size: 20px;
  font-weight: normal;
  color: black;
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    text-align: center;
}
                                                       146,1       Внизу
