extends layout

block content
  h1 Welcome to Irina's Tailoring website.

  p We are a small, family owned business aimed 
    | at offering a higher class of tailoring services.
    | We do this by providing outstanding quality and
    | exceptional costumer service at competitive prices.
