extends layout

block content
  #banner.page-header
    h1= pageHeader.title
      small &nbsp;#{pageHeader.strapline}
    .container(ng-controller="reviewListCtrl")
      .align-left
        a(href='/guestbook/add_review') Add Review
      .list-group
        each review in reviews
          .list-group-item
            h4
              .row
                .column.smol-left
                  p #{review.name}
                .column
                  p #{review.review}

