extends layout

block content
  #banner.page-header
    h1= pageHeader.title
      small &nbsp;#{pageHeader.strapline}
    .container(ng-controller="reviewListCtrl")
      .align-left
        a(href='/guestbook/add_review') Add Review
      .error {{ message }}
      .list-group
        .list-group-item(ng-repeat="review in data.reviews")
          h4
            .row
              .column.smol-left
                p
                  .name {{ review.name }}. 
                  .date {{ review.date }}
              .column
                p {{ review.review }}

